{% assign academic-activities = site.data.data.academic-activities %}
{% if academic-activities %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>
    {{ academic-activities.title }}
  </h2>

  <div class="summary">
    {{ academic-activities.summary | markdownify }}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
